* {
  box-sizing: border-box;
}

/********************
REUSABLE CLASSES
********************/

.align-center {
  text-align: center;
  vertical-align: top;
}

.vertical-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  padding: 0 30px 0 30px;
  margin: 0 auto;
}

.primary-font {
  color: #363835;
  letter-spacing: 2px;
}

/********************
HEADER
********************/
header {
  height: 100vh;
  background-color: #F3D65E;
}

header h1 {
  font-size: 2em;
}

.primary-nav {
  margin-top: 100px;
  display: inline-block;
  padding: 30px;
  border: thin solid #363835;
}

.primary-nav a {
  font-size: 30px;
  padding: 0 30px 0 30px;
  border-right: thin solid #363835;
}
