/********************
REUSABLE CLASSES
********************/

.align-center {
  text-align: center;
}

.vertical-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  padding: 0 30px 0 30px;
  margin: 0 auto;
}


/********************
PROFILE IMAGE
********************/

img {
  border-radius: 100%;
}

/********************
HEADER
********************/

header {
  height: 100vh;
  background-color: #F3D65E;
}

header h1 {
  font-size: 2em;
  line-height: 50px;
}
/********************
NAVIGATION
********************/
.project,
.articles,
.about {
  display: inline-block;
}

.primary-nav {
  margin-top: 40px;
}

.primary-nav a:hover {
  background-color: #363835;
  color: #f3d65e;
  transition: background 0.2s, color 0.2s;
}

.primary-nav a {
  font-size: 16px;
  padding: 20px 40px;
  border: thin #363835 solid;
  text-decoration: none;
  color: #363835;
}
