<header>
  <nav class="column column-10 container">
    <button><i class="fa fa-bars fa-lg" aria-hidden="true"></i></button>
    <a href="#">about</a>
    <a href="#"> projects</a>
    <a href="#">blog</a>
    <a href="#">contact</a>
    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
  </nav>
  <section class="hire column column-2 container">
    <button><p>hire me</p></button>
  </section>
</header>

<section class="intro container column column-6">
  <div class="photo column-3">

  </div>

  <h3>Developer <span>/</span> Educator <span>&</span> Musician.</h3>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque
  vestibulum tincidunt. Curabitur nulla odio, cursus eget ex eget, bibendum
  tristique dui. Vivamus vel aliquam nisi, nec suscipit sapien. Duis quis
  ultricies dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>

  <button class="resume"><a href="#"/>resume</button>

</section>
