<header class="row">
  <nav class="column column-10 container">
    <button><i class="fa fa-bars" aria-hidden="true"></i></button>
  </nav>
  <section class="column column-2 container hire animated pulse">
    <button><p>hire me</p></button>
  </section>
</header>

<section class="intro row container column column-5 animated fadeIn">
  <h3>Developer <span>/</span> Educator <span>&</span><br /> Musician.</h3>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque
  vestibulum tincidunt. Curabitur nulla odio, cursus eget ex eget, bibendum
  tristique dui. Vivamus vel aliquam nisi, nec suscipit sapien. Duis quis
  ultricies dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>

  <button class="resume"><a href="#" download />resume</button>

</section>
<section class="cards row container column column-7">

</section>
