.about-main {
  @include padding(100px, 0, 0, 0);
}

.about-container {
  @include container(90%);
    height: 500px;
}

.about-photo-container {
  @include span(6 of 12 $no-gutters);
  background: #E1F1F9;
  height: 100%;
  text-align: center;
  @include padding(150px, 0, 0, 0);
  .photo {
    display: inline-block;
    margin: 0 auto;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    background: url('../images/profile.jpg') top no-repeat;
    background-size: 100%;
    @include box-shadow(rgba(gray, 1.4) 0 0 100px, rgba(#b5d5e5, 0.2) 0 0 3px 1px inset);
  }
}

.social-icons {
  display: block;
}

.linkedin {
  @include margin(20px, 0, 0, 0);
  height: 20px;
  width: 20px;
  display: inline-block;
  background: url('../images/linkedin.png') center center no-repeat;
  background-size: cover;
  cursor: pointer;
}

.timeline {
  text-align: center;
}

.about-introduction {

  //1204 px
  @include padding(100px, 100px, 0, 100px);
  @include span(6 at 7 of 12 $no-gutters);
  overflow-y: scroll;
  background: $white;
  color: $nav-menu-hover-link;
  height: 100%;
  h1 {
    font-family: "Coves-Light";
    font-size: 150%;
    line-height: 50px;
  }
  p {
    font-family: "Coves-Light";
    letter-spacing: 1px;
  }
}

::-webkit-scrollbar {
  display: none;
}

.timeline {
  @include span(12);
}

// Tablet Layout
@include breakpoint(480px 768px) {
  .about-container {
    @include container(95%);
  }
  .about-photo-container,
  .about-introduction {
    @include span(12);
    @include margin(5px, 0, 0, 0);
  }

  .about-photo-container {
    @include margin(50px, 0, 0, 0);
  }
  .about-introduction {
    @include padding(60px, 30px, 60px, 30px);
    @include margin(0, 0, 0, 0);
    height: auto;
  }
}

// mobile layout
@include breakpoint(0 480px) {
  .about-container {
    @include container(95%);
  }

  .about-photo-container,
  .about-introduction {
    @include span(12);
    @include margin(5px, 0, 0, 0);
  }

  .about-photo-container {
    @include margin(50px, 0, 0, 0);
  }
  .about-introduction {
    @include padding(60px, 30px, 60px, 30px);
    @include margin(0, 0, 0, 0);
    height: auto;
  }
}
