body {
  background: $body-background;
  font-family: "Coves-Light";
  @include container;
}

.body_container {
  @include container(85%);
}

.skill_box {
  @include span(4 of 12);
  background: $skill-box-background;
  text-align: center;
  cursor: pointer;
  position: relative;
  @include transition(.3s ease-out);
  h1 {
    color: $black;
    @include padding(100px, 50px, 100px, 50px);
  }
}

.name_section {
  @include span(8 at 5 of 12);
  @include padding(0, 100px, 0, 50px);
  h1 {
    color: $white;
    letter-spacing: 0.5px;
    font-size: 200%;
    @include padding(20px, 0, 20px, 0);
  }
  p {
    color: $tranquil;
    letter-spacing: 0.5px;
  }
  button {
    float: right;
    cursor: pointer;
    @include margin(30px, 0, 0, 0);
    border: 1px $learn-more-color solid;
    background: $learn-more-color;
    border-radius: 55px;
    @include transition(.3s ease-out);
    &:hover {
      background: $body-background;
    }
    p {
      font-size: 130%;
      color: $white;
      @include padding(10px, 10px, 10px, 10px);
    }
  }
}
