body {
  background: $body-background;
  @include container;
  position: relative;
}

.index-main {
  @include padding(100px, 0, 0, 0);
  font-family: "Coves-Bold";
}

.body_container {
  @include container(85%);
}

.project-1,
.project-2,
.project-3,
.project-4,
.project-5,
.project-6,
.project-7,
.project-8 {
  cursor: pointer;
  @include transition(.2s ease-out);
  &:hover {
    border: $nav-active 4px solid;
  }
}

.project-1 {
  @include span(4 of 12);
  height: 300px;
  background: url("../images/toys.jpg") center no-repeat;
  background-size: cover;
  }

.name_section {
  @include span(8 at 5 of 12);
  @include padding(50px, 100px, 0, 50px);
  h1 {
    color: $white;
    letter-spacing: 0.5px;
    font-size: 200%;
    @include padding(20px, 0, 20px, 0);
  }
  p {
    color: $tranquil;
    letter-spacing: 0.5px;
  }
  button {
    float: right;
    cursor: pointer;
    @include margin(30px, 0, 0, 0);
    border: 1px $learn-more-color solid;
    background: $learn-more-color;
    border-radius: 55px;
    @include transition(.3s ease-out);
    &:hover {
      background: $body-background;
    }
    a {
      font-size: 130%;
      color: $white;
      @include padding(10px, 10px, 10px, 10px);
      text-decoration: none;
      display: block;
    }
  }
}

.project-2 {
  @include span(8 of 12);
  height: 250px;
  background: url("../images/artella.jpg") center no-repeat;
  background-size: cover;
}

.project-3 {
  @include span(4 at 9 of 12);
  height: 250px;
  background: url("../images/br.jpg") center no-repeat;
  background-size: cover;
}

.project-4 {
  @include span(4 of 12);
  height: 250px;
  background: url("../images/homework.jpg") center no-repeat;
  background-size: cover;
}

.project-5 {
  @include span(4 at 5 of 12);
  height: 250px;
  background: url("../images/mobile_gurus.jpg") center no-repeat;
  background-size: cover;
}

.project-6 {
  @include span(4 at 9 of 12);
  height: 250px;
  background: url("../images/pulstic.jpg") center no-repeat;
  background-size: cover;
}

.row {
  @include margin(5px, 0, 0, 0);
}

.project-7 {
  @include span(4 of 12);
  height: 250px;
  background: url("../images/socialix.jpg") center no-repeat;
  background-size: cover;
}

.project-8 {
  @include span(8 at 5 of 12);
  height: 500px;
  background: url("../images/farberlaw.jpg") center no-repeat;
  background-size: cover;
}

// tablet layout

@include breakpoint(480px 768px) {
  .body_container {
    @include container(95%);
    .project-1 {
      display: none;
    }
  }
  .name_section {
    text-align: center;
    @include span(12);
    @include padding(50px, 0, 50px, 0);
    button {
      float: none;
      width: 100%;
    }
  }
  .project-2,
  .project-3,
  .project-4,
  .project-5,
  .project-6,
  .project-7,
  .project-8,
  .project-9, {
    @include span(12);
    @include margin(5px, 0, 0, 0);
  }
  .row {
    @include margin(0, 0, 0, 0);
  }
}

// mobile layout

@include breakpoint(0 480px) {
  .body_container {
    @include container(95%);
    text-align: center;
    .project-1 {
      display: none;
    }
  }
  .name_section {
    @include span(12);
    @include padding(50px, 0, 50px, 0);
    button {
      float: none;
      width: 100%;
    }
  }
  .project-2,
  .project-3,
  .project-4,
  .project-5,
  .project-6,
  .project-7,
  .project-8, {
    @include span(12);
    @include margin(5px, 0, 0, 0);
  }
  .row {
    @include margin(0, 0, 0, 0);
  }
}
