.contact-main {
  @include padding(100px, 0, 0, 0);
}

.contact-container {
  @include container(90%);
}

.stock-image,
.contact-introduction {
  height: 500px;
}

.stock-image {
  @include span(6 of 12 $no-gutters);
  background: url("../images/imac.jpg") center center no-repeat;
  background-size: cover;
}

.contact-introduction {
  @include span(6 at 7 of 12);
  background-color: $white;
  color: $black;
  font-family: 'Coves-Light';
  font-size: 20px;
  @include padding(130px, 20px, 0, 20px);
}

.iphone {
  @include margin(20px, 0, 0, 0);
  height: 30px;
  width: 30px;
  background: url('../images/iphone.png') center center no-repeat;
  background-size: cover;
  display: inline-block;
}

.contact-introduction a {
  text-decoration: none;
  color: $black;
}

.contact-form {
  @include span(6 of 12 last);
  @include padding(50px, 0, 0, 0);
  @include margin(0, 0, 50px, 0);
  height: 500px;
  color: $white;
  font-family: "Coves-Bold";
}

input {
  @include margin(5px, 0, 0, 0);
}

label {
  @include margin(10px, 0, 10px, 0);
  display: block;
}

textarea, textarea:focus, input, input:focus {
    color: #507d8f;
    outline: none;
    font-family: "Coves-Light";
    font-size: 20px;
    width: 100%;
}

form button {
    float: right;
    cursor: pointer;
    @include margin(30px, 0, 0, 0);
    @include padding(10px, 10px, 10px, 10px);
    border: 1px $learn-more-color solid;
    background: $learn-more-color;
    border-radius: 55px;
    @include transition(.3s ease-out);
    color: $white;
    &:hover {
      background: $body-background;
    }
  }

  
// Tablet Layout
@include breakpoint(480px 768px) {
  .contact-main {
    @include padding(150px, 0, 0, 0);
  }
  .contact-form {
    @include span(12 of 12);
  }
}

// Mobile Layout
@include breakpoint(0 480px)  {
  .contact-container {
    @include container(95%);
  }
  .stock-image,
  .contact-introduction,
  .contact-form {
    @include span(12 of 12);
    text-align: center;
  }
  .contact-introduction {
    height: auto;
    padding: 50px;
  }

}
