nav {
  background-color: $nav-background;
  @include container(90%);
  font-family: "Coves-Bold";
}

ul {
  float: right;
}

li {
    float: left;
    list-style: none;
    @include transition(.3s ease-out);
    &:hover {
      background: $white;
      a {
        color: $black;
      }
    }
  a {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 80%;
    text-decoration: none;
    color: $nav-menu;
    @include padding(20px, 20px, 20px, 20px);
    }
}

.active {
  background: $nav-active;
}

.logo {
  float: left;
  font-family: "Coves-Light";
  text-transform: uppercase;
  letter-spacing: 3px;
  @include padding(20px, 20px, 20px, 20px);
  a {
    text-decoration: none;
    color: $white;
  }
}

.mobile_menu {
  display: none;
}

// Let's make navigation to take full 100% width and logo as well so it stacks.
@include breakpoint(480px 768px) {
  nav {
    text-align: center;
    @include container(100%);
    ul {
      display: block;
      float: none;
      li {
        display: inline-block;
        float: none;
        a {
          font-size: 75%;
          @include padding(20px, 15px, 20px, 15px);
        }
      }
    }
    .logo {
      display: block;
      float: none;
    }
  }
}

// Mobile
@include breakpoint(0 480px) {
  nav {
    text-align: center;
    @include container(100%);
    ul {
      float: none;
      li {
        display: block;
        width: 100%;
      }
    }
  }

  .logo {
    display: block;
    float: none;
    width: 100%;
  }
.mobile_menu {
  display: block;
  color: $white;
  font-size: 30px;
  height: 40px;
  cursor: pointer;
  }
}
