// Verticle Rhythm
$base-font-size: 16px;
$base-line-height: 24px;
@include establish-baseline;

// Header
$header-background: #00202B;

// Colors
$white: #FFFFFF;
$tranquil: #507D8F;

// Navigation
$nav-background: #00202B;
$nav-menu: #FFFFFF;
$nav-menu-hover: #FFFFFF;
$nav-menu-hover-link: #161616;
$nav-active: #FD3D50;
$black: #333333;

// Body
$body-background: #002331;
$skill-box-background: #effaff;

// Buttons
$learn-more-color: #2fa4f1;

// Project-1
$project-1-background: #FF5F6D;
$project-1-background-2: #FFC371;

// project-2
$project-2-background: #40BDD3;

// No Gutters

$no-gutters: (
  gutters: 0
);
