/* line 5, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 106, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 1, ../sass/components/_header.scss */
header {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 100px;
  margin-left: 0;
  background: #00202B;
  position: fixed;
  width: 100%;
}
/* line 12, ../../../.rvm/gems/ruby-2.2.4/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
header:after {
  content: " ";
  display: block;
  clear: both;
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 11, ../sass/components/_header.scss */
  header {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
@media (min-width: 0) and (max-width: 480px) {
  /* line 18, ../sass/components/_header.scss */
  header {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
/* line 1, ../sass/components/_nav.scss */
nav {
  background-color: #00202B;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Coves-Bold";
}
/* line 12, ../../../.rvm/gems/ruby-2.2.4/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
nav:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 7, ../sass/components/_nav.scss */
nav ul {
  float: right;
}

/* line 11, ../sass/components/_nav.scss */
nav li {
  float: left;
  list-style: none;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 15, ../sass/components/_nav.scss */
nav li:hover {
  background: #FFFFFF;
}
/* line 17, ../sass/components/_nav.scss */
nav li:hover a {
  color: #333333;
}
/* line 21, ../sass/components/_nav.scss */
nav li a {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 80%;
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

/* line 32, ../sass/components/_nav.scss */
.active {
  background: #FD3D50;
}

/* line 36, ../sass/components/_nav.scss */
.logo {
  float: left;
  font-family: "Coves-Light";
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
/* line 42, ../sass/components/_nav.scss */
.logo a {
  text-decoration: none;
  color: #FFFFFF;
}

/* line 48, ../sass/components/_nav.scss */
.mobile_menu {
  display: none;
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 54, ../sass/components/_nav.scss */
  nav {
    text-align: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../.rvm/gems/ruby-2.2.4/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  nav:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 57, ../sass/components/_nav.scss */
  nav ul {
    display: block;
    float: none;
  }
  /* line 60, ../sass/components/_nav.scss */
  nav ul li {
    display: inline-block;
    float: none;
  }
  /* line 63, ../sass/components/_nav.scss */
  nav ul li a {
    font-size: 75%;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
  }
  /* line 69, ../sass/components/_nav.scss */
  nav .logo {
    display: block;
    float: none;
  }
}
@media (min-width: 0) and (max-width: 480px) {
  /* line 78, ../sass/components/_nav.scss */
  nav {
    text-align: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../.rvm/gems/ruby-2.2.4/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  nav:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 81, ../sass/components/_nav.scss */
  nav ul {
    float: none;
    display: none;
  }
  /* line 84, ../sass/components/_nav.scss */
  nav ul li {
    display: block;
    width: 100%;
  }

  /* line 90, ../sass/components/_nav.scss */
  .logo {
    display: block;
    float: none;
    width: 100%;
  }

  /* line 95, ../sass/components/_nav.scss */
  .mobile_menu {
    display: block;
    color: #FFFFFF;
    font-size: 30px;
    height: 40px;
    cursor: pointer;
  }
}
/* line 1, ../sass/components/_body.scss */
body {
  background: #002331;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/* line 12, ../../../.rvm/gems/ruby-2.2.4/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
body:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 7, ../sass/components/_body.scss */
.index-main {
  padding-top: 100px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  font-family: "Coves-Bold";
}

/* line 12, ../sass/components/_body.scss */
.body_container {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../.rvm/gems/ruby-2.2.4/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.body_container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 16, ../sass/components/_body.scss */
.project-1,
.project-2,
.project-3,
.project-4,
.project-5,
.project-6,
.project-7,
.project-8 {
  cursor: pointer;
  -moz-transition: ease-out 0.2s;
  -o-transition: ease-out 0.2s;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}
/* line 26, ../sass/components/_body.scss */
.project-1:hover,
.project-2:hover,
.project-3:hover,
.project-4:hover,
.project-5:hover,
.project-6:hover,
.project-7:hover,
.project-8:hover {
  border: #FD3D50 4px solid;
}

/* line 31, ../sass/components/_body.scss */
.project-1 {
  width: 33.06773%;
  float: left;
  margin-right: 0.39841%;
  height: 300px;
  background: url("../images/toys.jpg") center no-repeat;
  background-size: cover;
}

/* line 38, ../sass/components/_body.scss */
.name_section {
  width: 66.53386%;
  float: right;
  margin-right: 0;
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 0;
  padding-left: 50px;
}
/* line 41, ../sass/components/_body.scss */
.name_section h1 {
  color: #FFFFFF;
  letter-spacing: 0.5px;
  font-size: 200%;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;
}
/* line 47, ../sass/components/_body.scss */
.name_section p {
  color: #507D8F;
  letter-spacing: 0.5px;
}
/* line 51, ../sass/components/_body.scss */
.name_section button {
  float: right;
  cursor: pointer;
  margin-top: 30px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border: 1px #2fa4f1 solid;
  background: #2fa4f1;
  border-radius: 55px;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 59, ../sass/components/_body.scss */
.name_section button:hover {
  background: #002331;
}
/* line 62, ../sass/components/_body.scss */
.name_section button a {
  font-size: 130%;
  color: #FFFFFF;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-decoration: none;
  display: block;
}

/* line 72, ../sass/components/_body.scss */
.project-2 {
  width: 66.53386%;
  float: left;
  margin-right: 0.39841%;
  height: 250px;
  background: url("../images/artella.jpg") center no-repeat;
  background-size: cover;
}

/* line 79, ../sass/components/_body.scss */
.project-3 {
  width: 33.06773%;
  float: right;
  margin-right: 0;
  height: 250px;
  background: url("../images/br.jpg") center no-repeat;
  background-size: cover;
}

/* line 86, ../sass/components/_body.scss */
.project-4 {
  width: 33.06773%;
  float: left;
  margin-right: 0.39841%;
  height: 250px;
  background: url("../images/homework.jpg") center no-repeat;
  background-size: cover;
}

/* line 93, ../sass/components/_body.scss */
.project-5 {
  width: 33.06773%;
  float: left;
  margin-right: 0.39841%;
  height: 250px;
  background: url("../images/mobile_gurus.jpg") center no-repeat;
  background-size: cover;
}

/* line 100, ../sass/components/_body.scss */
.project-6 {
  width: 33.06773%;
  float: right;
  margin-right: 0;
  height: 250px;
  background: url("../images/pulstic.jpg") center no-repeat;
  background-size: cover;
}

/* line 107, ../sass/components/_body.scss */
.row {
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

/* line 111, ../sass/components/_body.scss */
.project-7 {
  width: 33.06773%;
  float: left;
  margin-right: 0.39841%;
  height: 250px;
  background: url("../images/socialix.jpg") center no-repeat;
  background-size: cover;
}

/* line 118, ../sass/components/_body.scss */
.project-8 {
  width: 66.53386%;
  float: right;
  margin-right: 0;
  height: 500px;
  background: url("../images/farberlaw.jpg") center no-repeat;
  background-size: cover;
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 128, ../sass/components/_body.scss */
  .body_container {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../.rvm/gems/ruby-2.2.4/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .body_container:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 130, ../sass/components/_body.scss */
  .body_container .project-1 {
    display: none;
  }

  /* line 134, ../sass/components/_body.scss */
  .name_section {
    text-align: center;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding-top: 50px;
    padding-right: 0;
    padding-bottom: 50px;
    padding-left: 0;
  }
  /* line 138, ../sass/components/_body.scss */
  .name_section button {
    float: none;
    width: 100%;
  }

  /* line 143, ../sass/components/_body.scss */
  .project-2,
  .project-3,
  .project-4,
  .project-5,
  .project-6,
  .project-7,
  .project-8,
  .project-9 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  /* line 154, ../sass/components/_body.scss */
  .row {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
@media (min-width: 0) and (max-width: 480px) {
  /* line 162, ../sass/components/_body.scss */
  .body_container {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  /* line 12, ../../../.rvm/gems/ruby-2.2.4/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .body_container:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 165, ../sass/components/_body.scss */
  .body_container .project-1 {
    display: none;
  }

  /* line 169, ../sass/components/_body.scss */
  .name_section {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding-top: 50px;
    padding-right: 0;
    padding-bottom: 50px;
    padding-left: 0;
  }
  /* line 172, ../sass/components/_body.scss */
  .name_section button {
    float: none;
    width: 100%;
  }

  /* line 177, ../sass/components/_body.scss */
  .project-2,
  .project-3,
  .project-4,
  .project-5,
  .project-6,
  .project-7,
  .project-8 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  /* line 187, ../sass/components/_body.scss */
  .row {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
/* line 1, ../sass/components/_footer.scss */
footer {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;
}
/* line 12, ../../../.rvm/gems/ruby-2.2.4/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
footer:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 5, ../sass/components/_footer.scss */
footer small {
  color: #FFFFFF;
}

/* line 1, ../sass/components/_about.scss */
.about-main {
  padding-top: 100px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

/* line 5, ../sass/components/_about.scss */
.about-container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
}
/* line 12, ../../../.rvm/gems/ruby-2.2.4/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.about-container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 10, ../sass/components/_about.scss */
.about-photo-container {
  width: 50%;
  float: left;
  background: #E1F1F9;
  height: 100%;
  text-align: center;
  padding-top: 150px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
/* line 16, ../sass/components/_about.scss */
.about-photo-container .photo {
  display: inline-block;
  margin: 0 auto;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  background: url("../images/profile.jpg") top no-repeat;
  background-size: 100%;
  -moz-box-shadow: gray 0 0 100px, rgba(181, 213, 229, 0.2) 0 0 3px 1px inset;
  -webkit-box-shadow: gray 0 0 100px, rgba(181, 213, 229, 0.2) 0 0 3px 1px inset;
  box-shadow: gray 0 0 100px, rgba(181, 213, 229, 0.2) 0 0 3px 1px inset;
}

/* line 28, ../sass/components/_about.scss */
.social-icons {
  display: block;
}

/* line 32, ../sass/components/_about.scss */
.linkedin {
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
  height: 20px;
  width: 20px;
  display: inline-block;
  background: url("../images/linkedin.png") center center no-repeat;
  background-size: cover;
  cursor: pointer;
}

/* line 42, ../sass/components/_about.scss */
.social-icons a {
  text-decoration: none;
}

/* line 46, ../sass/components/_about.scss */
.github {
  margin-top: 20px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 10px;
  height: 20px;
  width: 20px;
  display: inline-block;
  background: url("../images/github.png") center center no-repeat;
  background-size: cover;
  cursor: pointer;
}

/* line 56, ../sass/components/_about.scss */
.timeline {
  text-align: center;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 61, ../sass/components/_about.scss */
.about-introduction {
  padding-top: 100px;
  padding-right: 100px;
  padding-bottom: 0;
  padding-left: 100px;
  width: 50%;
  float: right;
  margin-right: 0;
  overflow-y: scroll;
  background: #FFFFFF;
  color: #161616;
  height: 100%;
}
/* line 70, ../sass/components/_about.scss */
.about-introduction h1 {
  font-family: "Coves-Light";
  font-size: 150%;
  line-height: 50px;
}
/* line 75, ../sass/components/_about.scss */
.about-introduction p {
  font-family: "Coves-Light";
  letter-spacing: 1px;
}

/* line 81, ../sass/components/_about.scss */
::-webkit-scrollbar {
  display: none;
}

/* line 85, ../sass/components/_about.scss */
.timeline {
  width: 12c;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 91, ../sass/components/_about.scss */
  .about-container {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../.rvm/gems/ruby-2.2.4/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .about-container:after {
    content: " ";
    display: block;
    clear: both;
  }

  /* line 94, ../sass/components/_about.scss */
  .about-photo-container,
  .about-introduction {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  /* line 100, ../sass/components/_about.scss */
  .about-photo-container {
    margin-top: 50px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  /* line 103, ../sass/components/_about.scss */
  .about-introduction {
    padding-top: 60px;
    padding-right: 30px;
    padding-bottom: 60px;
    padding-left: 30px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    height: auto;
  }
}
@media (min-width: 0) and (max-width: 480px) {
  /* line 112, ../sass/components/_about.scss */
  .about-container {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../.rvm/gems/ruby-2.2.4/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .about-container:after {
    content: " ";
    display: block;
    clear: both;
  }

  /* line 116, ../sass/components/_about.scss */
  .about-photo-container,
  .about-introduction {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  /* line 122, ../sass/components/_about.scss */
  .about-photo-container {
    margin-top: 50px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  /* line 125, ../sass/components/_about.scss */
  .about-introduction {
    padding-top: 60px;
    padding-right: 30px;
    padding-bottom: 60px;
    padding-left: 30px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    height: auto;
  }

  /* line 130, ../sass/components/_about.scss */
  .timeline {
    height: 100vh;
  }
}
/* line 1, ../sass/components/_contact.scss */
.contact-main {
  padding-top: 100px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

/* line 5, ../sass/components/_contact.scss */
.contact-container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../.rvm/gems/ruby-2.2.4/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.contact-container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 9, ../sass/components/_contact.scss */
.stock-image,
.contact-introduction {
  height: 500px;
}

/* line 14, ../sass/components/_contact.scss */
.stock-image {
  width: 50%;
  float: left;
  background: url("../images/imac.jpg") center center no-repeat;
  background-size: cover;
}

/* line 20, ../sass/components/_contact.scss */
.contact-introduction {
  width: 49.8008%;
  float: right;
  margin-right: 0;
  background-color: #FFFFFF;
  color: #333333;
  font-family: 'Coves-Light';
  font-size: 20px;
  padding-top: 130px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;
}

/* line 29, ../sass/components/_contact.scss */
.iphone {
  margin-top: 20px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  height: 30px;
  width: 30px;
  background: url("../images/iphone.png") center center no-repeat;
  background-size: cover;
  display: inline-block;
}

/* line 38, ../sass/components/_contact.scss */
.contact-introduction a {
  text-decoration: none;
  color: #333333;
}

/* line 43, ../sass/components/_contact.scss */
.contact-form {
  width: 49.8008%;
  float: right;
  margin-right: 0;
  padding-top: 50px;
  padding-right: 200px;
  padding-bottom: 0;
  padding-left: 40px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  height: 500px;
  color: #FFFFFF;
  font-family: "Coves-Bold";
}

/* line 52, ../sass/components/_contact.scss */
input {
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

/* line 56, ../sass/components/_contact.scss */
label {
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  display: block;
}

/* line 61, ../sass/components/_contact.scss */
textarea, textarea:focus, input, input:focus {
  color: #507d8f;
  outline: none;
  font-family: "Coves-Light";
  font-size: 20px;
  width: 100%;
}

/* line 69, ../sass/components/_contact.scss */
form button {
  float: right;
  cursor: pointer;
  margin-top: 30px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border: 1px #2fa4f1 solid;
  background: #2fa4f1;
  border-radius: 55px;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  color: #FFFFFF;
}
/* line 79, ../sass/components/_contact.scss */
form button:hover {
  background: #002331;
}

@font-face {
  font-family: "Coves-Bold";
  src: url('../fonts/Coves-Bold.otf?1453356458') format('opentype');
}
@font-face {
  font-family: "Coves-Light";
  src: url('../fonts/Coves-Light.otf?1452492420') format('opentype');
}
/* line 27, ../sass/style.scss */
* {
  box-sizing: border-box;
}
