/* line 1, ../sass/components/_header.scss */
* {
  font-family: "Roboto", sans-serif;
}

/* line 6, ../sass/components/_header.scss */
.header_container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #00202B;
}
/* line 12, ../../../.rvm/gems/ruby-2.2.4/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.header_container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 11, ../sass/components/_header.scss */
.nav_container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../.rvm/gems/ruby-2.2.4/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.nav_container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 15, ../sass/components/_header.scss */
nav {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #00202B;
}

/* line 20, ../sass/components/_header.scss */
ul {
  margin: 0;
  float: right;
}
/* line 23, ../sass/components/_header.scss */
ul li {
  float: left;
  list-style: none;
}
/* line 26, ../sass/components/_header.scss */
ul li a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 30px 20px;
  color: white;
  font-size: 13px;
}

/* line 37, ../sass/components/_header.scss */
.active {
  background-color: #FD3D50;
}
