/* line 5, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 106, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 1, ../sass/components/_header.scss */
header {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 100px;
  margin-left: 0;
  background: #00202B;
  position: fixed;
  width: 100%;
}
/* line 12, ../../../.rvm/gems/ruby-2.2.4/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
header:after {
  content: " ";
  display: block;
  clear: both;
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 11, ../sass/components/_header.scss */
  header {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
@media (min-width: 0) and (max-width: 480px) {
  /* line 18, ../sass/components/_header.scss */
  header {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
/* line 1, ../sass/components/_nav.scss */
nav {
  background-color: #00202B;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Coves-Bold";
}
/* line 12, ../../../.rvm/gems/ruby-2.2.4/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
nav:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 7, ../sass/components/_nav.scss */
ul {
  float: right;
}

/* line 11, ../sass/components/_nav.scss */
li {
  float: left;
  list-style: none;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 15, ../sass/components/_nav.scss */
li:hover {
  background: #FFFFFF;
}
/* line 17, ../sass/components/_nav.scss */
li:hover a {
  color: #333333;
}
/* line 21, ../sass/components/_nav.scss */
li a {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 80%;
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

/* line 32, ../sass/components/_nav.scss */
.active {
  background: #FD3D50;
}

/* line 36, ../sass/components/_nav.scss */
.logo {
  float: left;
  font-family: "Coves-Light";
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
/* line 42, ../sass/components/_nav.scss */
.logo a {
  text-decoration: none;
  color: #FFFFFF;
}

/* line 48, ../sass/components/_nav.scss */
.mobile_menu {
  display: none;
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 54, ../sass/components/_nav.scss */
  nav {
    text-align: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../.rvm/gems/ruby-2.2.4/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  nav:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 57, ../sass/components/_nav.scss */
  nav ul {
    display: block;
    float: none;
  }
  /* line 60, ../sass/components/_nav.scss */
  nav ul li {
    display: inline-block;
    float: none;
  }
  /* line 63, ../sass/components/_nav.scss */
  nav ul li a {
    font-size: 75%;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
  }
  /* line 69, ../sass/components/_nav.scss */
  nav .logo {
    display: block;
    float: none;
  }
}
@media (min-width: 0) and (max-width: 480px) {
  /* line 78, ../sass/components/_nav.scss */
  nav {
    text-align: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../.rvm/gems/ruby-2.2.4/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  nav:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 81, ../sass/components/_nav.scss */
  nav ul {
    float: none;
    display: none;
  }
  /* line 84, ../sass/components/_nav.scss */
  nav ul li {
    display: block;
    width: 100%;
  }

  /* line 90, ../sass/components/_nav.scss */
  .logo {
    display: block;
    float: none;
    width: 100%;
  }

  /* line 95, ../sass/components/_nav.scss */
  .mobile_menu {
    display: block;
    color: #FFFFFF;
    font-size: 30px;
    height: 40px;
    cursor: pointer;
  }
}
/* line 1, ../sass/components/_body.scss */
body {
  background: #002331;
  font-family: "Coves-Bold";
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/* line 12, ../../../.rvm/gems/ruby-2.2.4/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
body:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 8, ../sass/components/_body.scss */
main {
  padding-top: 100px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

/* line 12, ../sass/components/_body.scss */
.body_container {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../.rvm/gems/ruby-2.2.4/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.body_container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 16, ../sass/components/_body.scss */
.project-1,
.project-2,
.project-3,
.project-4,
.project-5,
.project-6,
.project-7,
.project-8 {
  cursor: pointer;
  -moz-transition: ease-out 0.2s;
  -o-transition: ease-out 0.2s;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}
/* line 26, ../sass/components/_body.scss */
.project-1:hover,
.project-2:hover,
.project-3:hover,
.project-4:hover,
.project-5:hover,
.project-6:hover,
.project-7:hover,
.project-8:hover {
  border: #FD3D50 4px solid;
}

/* line 31, ../sass/components/_body.scss */
.project-1 {
  width: 33.06773%;
  float: left;
  margin-right: 0.39841%;
  height: 300px;
  background: url("../images/toys.jpg") center no-repeat;
  background-size: cover;
}

/* line 38, ../sass/components/_body.scss */
.name_section {
  width: 66.53386%;
  float: right;
  margin-right: 0;
  padding-top: 0;
  padding-right: 100px;
  padding-bottom: 0;
  padding-left: 50px;
}
/* line 41, ../sass/components/_body.scss */
.name_section h1 {
  color: #FFFFFF;
  letter-spacing: 0.5px;
  font-size: 200%;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;
}
/* line 47, ../sass/components/_body.scss */
.name_section p {
  color: #507D8F;
  letter-spacing: 0.5px;
}
/* line 51, ../sass/components/_body.scss */
.name_section button {
  float: right;
  cursor: pointer;
  margin-top: 30px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border: 1px #2fa4f1 solid;
  background: #2fa4f1;
  border-radius: 55px;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 59, ../sass/components/_body.scss */
.name_section button:hover {
  background: #002331;
}
/* line 62, ../sass/components/_body.scss */
.name_section button p {
  font-size: 130%;
  color: #FFFFFF;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

/* line 70, ../sass/components/_body.scss */
.project-2 {
  width: 66.53386%;
  float: left;
  margin-right: 0.39841%;
  height: 250px;
  background: url("../images/artella.jpg") center no-repeat;
  background-size: cover;
}

/* line 77, ../sass/components/_body.scss */
.project-3 {
  width: 33.06773%;
  float: right;
  margin-right: 0;
  height: 250px;
  background: url("../images/br.jpg") center no-repeat;
  background-size: cover;
}

/* line 84, ../sass/components/_body.scss */
.project-4 {
  width: 33.06773%;
  float: left;
  margin-right: 0.39841%;
  height: 250px;
  background: url("../images/homework.jpg") center no-repeat;
  background-size: cover;
}

/* line 91, ../sass/components/_body.scss */
.project-5 {
  width: 33.06773%;
  float: left;
  margin-right: 0.39841%;
  height: 250px;
  background: url("../images/mobile_gurus.jpg") center no-repeat;
  background-size: cover;
}

/* line 98, ../sass/components/_body.scss */
.project-6 {
  width: 33.06773%;
  float: right;
  margin-right: 0;
  height: 250px;
  background: url("../images/pulstic.jpg") center no-repeat;
  background-size: cover;
}

/* line 105, ../sass/components/_body.scss */
.row {
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

/* line 109, ../sass/components/_body.scss */
.project-7 {
  width: 33.06773%;
  float: left;
  margin-right: 0.39841%;
  height: 250px;
  background: url("../images/socialix.jpg") center no-repeat;
  background-size: cover;
}

/* line 116, ../sass/components/_body.scss */
.project-8 {
  width: 66.53386%;
  float: right;
  margin-right: 0;
  height: 500px;
  background: url("../images/farberlaw.jpg") center no-repeat;
  background-size: cover;
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 126, ../sass/components/_body.scss */
  .body_container {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../.rvm/gems/ruby-2.2.4/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .body_container:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 128, ../sass/components/_body.scss */
  .body_container .project-1 {
    display: none;
  }

  /* line 132, ../sass/components/_body.scss */
  .name_section {
    text-align: center;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding-top: 50px;
    padding-right: 0;
    padding-bottom: 50px;
    padding-left: 0;
  }
  /* line 136, ../sass/components/_body.scss */
  .name_section button {
    float: none;
    width: 100%;
  }

  /* line 141, ../sass/components/_body.scss */
  .project-2,
  .project-3,
  .project-4,
  .project-5,
  .project-6,
  .project-7,
  .project-8,
  .project-9 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  /* line 152, ../sass/components/_body.scss */
  .row {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
@media (min-width: 0) and (max-width: 480px) {
  /* line 160, ../sass/components/_body.scss */
  .body_container {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  /* line 12, ../../../.rvm/gems/ruby-2.2.4/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .body_container:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 163, ../sass/components/_body.scss */
  .body_container .project-1 {
    display: none;
  }

  /* line 167, ../sass/components/_body.scss */
  .name_section {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding-top: 50px;
    padding-right: 0;
    padding-bottom: 50px;
    padding-left: 0;
  }
  /* line 170, ../sass/components/_body.scss */
  .name_section button {
    float: none;
    width: 100%;
  }

  /* line 175, ../sass/components/_body.scss */
  .project-2,
  .project-3,
  .project-4,
  .project-5,
  .project-6,
  .project-7,
  .project-8 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  /* line 185, ../sass/components/_body.scss */
  .row {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
/* line 1, ../sass/components/_footer.scss */
footer {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;
}
/* line 12, ../../../.rvm/gems/ruby-2.2.4/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
footer:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 5, ../sass/components/_footer.scss */
footer small {
  color: #FFFFFF;
}

@font-face {
  font-family: "Coves-Bold";
  src: url('../fonts/Coves-Bold.otf?1453356458') format('opentype');
}
@font-face {
  font-family: "Coves-Light";
  src: url('../fonts/Coves-Light.otf?1452492420') format('opentype');
}
/* line 23, ../sass/style.scss */
* {
  box-sizing: border-box;
}
